﻿body
{
    tab-size: 1;
    background-color: #00FF33;
}
textarea
{
    overflow-x: hidden;
    overflow-y: auto;
    resize: none;
    background-color: #00FF99;
    width: 100%;
    height: 100%;
    border: 1 solid gray;
    margin: 0 0 0 0;
    font-size: 17px;
}
textarea::-webkit-scrollbar
{
    /*滚动条整体样式*/
    width: 14px; /*高宽分别对应横竖滚动条的尺寸*/
    height: 14px;
}
textarea::-webkit-scrollbar-thumb
{
    /*滚动条里面小方块*/
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: rgba(0,0,0,0.2);
}
textarea::-webkit-scrollbar-track
{
    /*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    border-radius: 0;
    background: rgba(0,0,0,0.1);
}
